@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");

/* div {
  border: solid 1px rgba(255, 0, 0, 0.4);
} */

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Lato", sans-serif;
}

img {
  max-width: 100%;
}

.page-container {
  margin: 2rem auto;
}

.section {
  margin-top: 1.5rem;
}

a,
a:hover {
  color: inherit;
}

p {
  margin: 0;
}

.row {
  margin-bottom: 1rem;
}

ul.site-menu {
  list-style: none;
  margin-top: 1.5rem;
  padding: 0;
}

ul.site-menu > li {
  margin-bottom: 0.25rem;
}